*

!.gitignore
!.projectile


!global-keys.el
!init.el
!lisp.el
!packages.el
!theme.el
!extras.el
!auto-complete-conf.el
!clojure-conf.el
!ocaml-conf.el
!web-conf.el
!js-conf.el
!sql-conf.el
!yaml-conf.el
!html-conf.el
!elixir-conf.el